.navbar-container {
  background-color: var(--yellow);
  height: 3.5rem;
  padding: 0.5rem 0;
  width: 100%;

  .content {
    display: flex;
    align-items: center;
    gap: 2rem;

    @media screen and (max-width: 600px) {
      gap: 1rem;
    }

    button.logo-button {
      background: none;
      border: none;
      color: inherit;
      cursor: pointer;
      font: inherit;
      outline: inherit;
      padding: 0;

      span.logo {
        background-image: url("../../assets/images/Logo_ML@2x.png.png");
        background-size: 3.75rem 2.5rem;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        flex-shrink: 0;
        height: 2.5rem;
        width: 3.75rem;

        @media screen and (max-width: 600px) {
          background-image: url("../../assets/images/Logo_ML.png");
          background-size: 3.313rem 2.25rem;
          height: 2.25rem;
          width: 3.313rem;
        }
      }
    }
  }
}
