.item-preview-container {
  background-color: var(--white);
  border-bottom: 1px solid var(--gallery);
  cursor: pointer;
  padding: 1rem 0;

  img.item-image {
    border-radius: 0.25rem;
    height: 7rem;
    margin-right: 1rem;
    width: 7rem;
  }

  div.item-details {
    padding: 1rem 0.5rem;

    div.item-main-info {
      align-items: flex-end;
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;

      span.item-price {
        display: block;
        font-size: 1.5rem;
      }

      span.item-free-shipping {
        background-image: url("../../assets/images/ic_shipping@2x.png.png");
        background-repeat: no-repeat;
        background-size: 1rem 1rem;
        display: block;
        margin-bottom: 0.375rem;
        height: 1rem;
        width: 1rem;

        @media screen and (max-width: 600px) {
          background-image: url("../../assets/images/ic_shipping.png");
        }
      }
    }

    span.item-title {
      font-size: 1.125rem;
    }
  }
}
