:root {
  --white: #ffffff;
  --yellow: #ffe600;
  --blue: #3483fa;
  --black: #333333;
  --dove-gray: #666666;
  --dusty-gray: #999999;
  --gallery: #eeeeee;
}

.main-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
